@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Brakebill University</h1>
    <p class="lead">The univeristy with greatest students, teachers and influence.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About Brakebill University</h2>
        <p>
            Brakebill is a world leading university with a strong presence in the mystical arts. After 5 years of studies the students will be ready to tackle the 
            harsh reality and be able to stand up for themselves and have a mindset that helps them in their coming endeavours.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>The great knowledge depository</h2>
      <p>In the great library are there literaly thousands of tomes that can help a student in formulating syntaxes and movement in order to grasp the greater 
        theories that exists today. The language section contains books from all known languages and some more. </p>
    </div>
    <div class="col-md-4">
        <h2>The Campus</h2>
        <p>Closeby the university lies the campus with green lush parks and sparkling fountains. Here you can see the students praticing and showing of
        their newly accuired knowledge. When entering the campus you pass the servicecenter where a store for basic supplies is present. Here is also multiple phones
        so that students can get in touch with near and dear ones.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>