@model IEnumerable<BrakeBillCourseSchema.Models.Student>

@{
    ViewBag.Title = "Students";
}
<div id="StudentIndex">
    <h2>Students</h2>
    <div id="StudentCreate">
        @Html.Partial("_StudentCreate")
    </div>

    <ul class="row">
        <li class="col-md-3">
            @Html.DisplayNameFor(model => model.Firstname)
        </li>
        <li class="col-md-3">
            @Html.DisplayNameFor(model => model.Lastname)
        </li>
        <li class="col-md-6"></li>
        <li class="rowbreak"></li>

    </ul>
    @foreach (var item in Model)
    {
        
           @Html.Action("ShowStudent","Student", new { id = item.StudentId })
        
    }
    <div id="EndOfStudents"></div>
</div>

